
.calculator-container {
    background-color: #1C1C1C;
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    border-spacing: 20px;
    background-color: #1C1C1C;
    border-radius: 10px;
}

td {
    font-weight: 600;
    padding: 10px;
    width: 35px;
    height: 35px;
    border-radius: 10px;
}

.operation {
    background-color: #FF9500;
}

.top {
    background-color: #D4D4D2;
    color: black;
}

.number {
    background-color: #505050;
}

@media (max-width: 599px) {
    .calculator-container {
        width: 100vw;
    }
}