<div class="calculator-container">
    <app-result-component operation="{{operation}}" result="{{result}}"></app-result-component>
    <table>
        <tr>
            <td class="top" colspan="3" (click)="toZero()">AC</td>
            <td class="operation" (click)="addNumber('/')">/</td>
        </tr>
        <tr>
            <td class="number" (click)="addNumber('7')">7</td>
            <td class="number" (click)="addNumber('8')" >8</td>
            <td class="number" (click)="addNumber('9')">9</td>
            <td class="operation" (click)="addNumber('*')">X</td>
        </tr>
        <tr>
            <td class="number" (click)="addNumber('4')">4</td>
            <td class="number" (click)="addNumber('5')">5</td>
            <td class="number" (click)="addNumber('6')">6</td>
            <td class="operation" (click)="addNumber('-')">-</td>
        </tr>
        <tr>
            <td class="number" (click)="addNumber('1')">1</td>
            <td class="number" (click)="addNumber('2')">2</td>
            <td class="number" (click)="addNumber('3')">3</td>
            <td class="operation" (click)="addNumber('+')">+</td>
        </tr>
        <tr>
            <td class="number" colspan="2" (click)="addNumber('0')">0</td>
            <td class="number" (click)="addNumber('.')">,</td>
            <td class="operation" (click)="calcOperation()">=</td>
        </tr>
    </table>
</div>
