.calculator-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 400px;
    height: fit-content;
    background-color: black;
    box-shadow: 0px 3px 10px 3px #aaa;
    border-right: 0.01em solid #333;
    border-bottom: 0.01em solid #333;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.number {
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border: 0.01em solid black;
    margin: 10px;
}

.zero {
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    width: 300px;
    height: 100px;
    background-color: #ccc;
    border-top: 0.01em solid #333;
    border-left: 0.01em solid #333;
}

.operation {
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 173, 96);
    border: 0.01em solid black;
}

.equal {
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    width: 400px;
    height: 100px;
    background-color: rgb(255, 173, 96);
    border: 0.01em solid black;
}
